		<footer>
			<div class="wrapper">
				<p class="attribution">Built by Tri Nguyen. Hosted by Github Pages. © Copyrights {{getDate 'YYYY'}}</p>
				<!--
				<div class="footer-links">
					<a href="{{config.site-url}}/resources">Resources for Patients</a>
				</div> -->
			</div><!-- .wrapper -->
		</footer>

		{{#isEqual content.env 'dev'}}
		<script type="text/javascript" data-main="{{config.site-url}}/js/config.js" src="../bower_components/requirejs/require.js"></script>
		<script src="http://localhost:{{config.livereload}}/livereload.js"></script>
		{{else}}
		<script type="text/javascript" src="{{config.site-url}}/app.js"></script>
		{{/isEqual}}
	</body>
</html>