{{> header}}
	<div class="body home">
		<div class="background-wrapper">
			<section class="intro">
				<p>{{content.intro.content}}</p>
			</section>
			<section class="services">
				<h2 class="section-title">Our Services</h2>
				<div class="service-wrapper">
					<ul class="services-menu tabs-menu">
						{{#each services}}
							<li class="{{#isEqual url-title "cbt"}}active{{/isEqual}}"><a href="#{{url-title}}">{{title}}</a></li>
						{{/each}}
					</ul><!-- .services-menu -->
					<div class="tabs-content">
						{{#each services}}
							<div class="service {{#isEqual url-title "cbt"}}active{{/isEqual}}" id="{{url-title}}">
							{{{markdown}}}
							</div>
						{{/each}}
					</div>
				</div><!--.service-wrapper -->
				<h3 class="section-link"><a href="/treatments">What We Treat</a></h3>
				<div class="button-wrap">
					{{#each content.intro.buttons}}
						<a class="button" href="{{link}}">{{title}}</a>
					{{/each}}
				</div><!-- .button-wrap -->
			</section><!-- .services -->
		</div>
		<section class="therapists">
			<h1 class="section-title">Our Therapists</h1>
			<div class="wrapper">
				<div class="therapist-stubs">
					{{#each therapists}}
					<div class="stub" data-therapist="{{id}}" title="{{title}}">
						<a href="#{{id}}">
							<img class="image" src="{{image}}" alt="{{title}}"/>
							<h3 class="title">{{title}}</h3>
						</a>
					</div><!-- .stub -->
					{{/each}}
				</div><!-- .therapist-stubs -->
				<div class="therapist-viewers">
					{{#each therapists}}
					<div class="viewer" id="{{id}}">
						<a class="close-button">x</a>
						<h1>{{full-title}}</h1>
						<div class="bio">
							{{{nl2br bio}}}
							{{#if licenses}}
							<ul class="licenses">
								{{#each licenses}}
									<li>{{this}}</li>
								{{/each}}
							</ul>
							{{/if}}
						</div>
					</div><!-- .viewer -->
					{{/each}}
				</div><!-- .therapist-viewers -->
			</div><!-- .wrapper -->
		</section><!-- .therapists -->
		<section class="contact">
			<div class="wrapper">
				<section class="form" id="contact-us">
					<h1 class="section-title">Contact Us</h1>
					{{> contact}}
				</section><!-- #contact-us -->
				<section class="info map" id="location">
					<h1 class="section-title">Where We Are</h1>
					<p><a class="address" href="https://maps.google.com/maps?q=Cognitive+Behavior+Therapy+Associates,+LLC,+100+Sylvan+Road,+Woburn,+MA&hl=en&ll=42.501703,-71.162481&spn=0.011169,0.033023&sll=42.036922,-71.683501&sspn=2.880309,8.453979&oq=cognitive&hq=Cognitive+Behavior+Therapy+Associates,+LLC,&hnear=100+Sylvan+Rd,+Woburn,+Middlesex,+Massachusetts+01801&t=m&z=16&iwloc=A">{{{nl2br content.address}}}</a></p>
					<p>Phone: <a class="tel" href="tel:{{content.phone}}">{{parsePhone content.phone}}</a><br/>
					Fax: {{parsePhone content.fax}}</p>
					<iframe class="google-map" width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Cognitive+Behavior+Therapy+Associates,+LLC,+100+Sylvan+Road,+Woburn,+MA&amp;aq=0&amp;oq=cognitive&amp;sll=42.036922,-71.683501&amp;sspn=2.880309,8.453979&amp;ie=UTF8&amp;hq=Cognitive+Behavior+Therapy+Associates,+LLC,&amp;hnear=100+Sylvan+Rd,+Woburn,+Middlesex,+Massachusetts+01801&amp;t=m&amp;cid=13986380778700008528&amp;ll=42.538157,-71.151924&amp;spn=0.088539,0.145912&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe>
				</section><!-- #location -->
			</div><!--. wrapper -->
		</section><!-- .contact -->
	</div><!-- .body -->
{{> footer}}
