{{> banner}}
{{> header}}
	<div class="body home">
		<div class="background-wrapper">
			<section id="covid-19">
				<h2 class="section-title">COVID-19 and Telemedicine</h2>
				<p>Out of care for our patients, others visiting the clinic, and providers, as well as our community, our practice is shifting all our appointments to a HIPAA-compliant online video service.</p>

				<p>We will be doing this until at least August 31st, and potentially longer depending on the situation.</p>

				<p>Governor Baker has directed all insurance companies to pay for telemedicine services during this emergency. </p>

				<p>If you have any question about your appointments, or how to connect with your provider,  please contact your provider before going into the office.</p>

				<p>Thank you, and be safe. See <a href="https://mass.gov">mass.gov</a> or <a href="https://cdc.gov">cdc.gov</a> for guidance.</p>
			</section>
			<section class="intro">
				<h2 class="section-title">Who We Are</h2>
				<p>{{content.intro.content}}</p>
			</section>
			<section id="our-services" class="services">
				<h2 class="section-title">Our Services</h2>
				<div class="service-wrapper">
					<ul class="services-menu tabs-menu">
						{{#each services}}
						<li class="{{#isEqual url-title "cbt"}}active{{/isEqual}}"><a href="#{{url-title}}">{{title}}</a></li>
						{{/each}}
					</ul><!-- .services-menu -->
					<div class="tabs-content">
						{{#each services}}
						<div class="service {{#isEqual url-title "cbt"}}active{{/isEqual}}" id="{{url-title}}">
						{{{main}}}
						<div class="button-wrap">
							{{#each buttons}}
							<a class="button" href="{{link}}">{{title}}</a>
							{{/each}}
						</div><!-- .button-wrap -->
						</div>
						{{/each}}
					</div>
				</div><!--.service-wrapper -->
			</section><!-- .services -->
		</div>
		<section id="our-therapists" class="therapists">
			<h1 class="section-title">Our Therapists</h1>
			<div class="wrapper">
				<div class="therapist-stubs">
					{{#each therapists}}
					<div class="stub" data-therapist="{{id}}" title="{{title}}">
						<a href="#{{id}}">
							<img class="image" src="{{image}}" alt="{{title}}"/>
							<h3 class="title">{{title}}</h3>
						</a>
					</div><!-- .stub -->
					{{/each}}
				</div><!-- .therapist-stubs -->
				<div class="therapist-viewers">
					{{#each therapists}}
					<div class="viewer" id="{{id}}">
						<a class="close-button">x</a>
						<h1>{{full-title}}</h1>
						<div class="bio">
							<p>{{{nl2br bio}}}</p>
							{{#if licenses}}
							<ul class="licenses">
								{{#each licenses}}
								<li>{{this}}</li>
								{{/each}}
							</ul>
							{{/if}}
							{{#if phone}}
								<a class="tel" href="tel:{{phone}}" data-toggle="tooltip" title="{{phone}} {{#if ext}}ext. {{ext}}{{/if}}"><i class="fa fa-phone"></i>Call {{title}}</a>
							{{/if}}
							{{#if email}}
								<a class="email" href="mailto:{{email}}" data-toggle="tooltip" title="{{email}}"><i class="fa fa-envelope"></i>Email {{title}}</a>
							{{/if}}
						</div>
					</div><!-- .viewer -->
					{{/each}}
				</div><!-- .therapist-viewers -->
			</div><!-- .wrapper -->
		</section><!-- .therapists -->
		<section id="contact-us" class="contact">
			<div class="wrapper">
				<section class="form" id="contact-us">
					<h1 class="section-title">Contact Us</h1>
					{{> contact}}
				</section><!-- #contact-us -->
				<section id="location" class="info map" id="location">
					<h1 class="section-title">Where We Are</h1>
					<p><a class="address" href="https://www.google.com/maps/place/394+Lowell+St,+Lexington,+MA+02420/@42.4485599,-71.1993179,17z/data=!3m1!4b1!4m2!3m1!1s0x89e39dfc18071e45:0xfe8c0b685189099">{{{nl2br content.address}}}</a></p>
					<p>Phone: <a class="tel" href="tel:{{content.phone}}">{{parsePhone content.phone}}</a><br/>
					Fax: {{parsePhone content.fax}}</p>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2944.021441240102!2d-71.1993179!3d42.448559900000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e39dfc18071e45%3A0xfe8c0b685189099!2s394+Lowell+St%2C+Lexington%2C+MA+02420!5e0!3m2!1sen!2sus!4v1438873154512" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" allowfullscreen></iframe>
				</section><!-- #location -->
			</div><!--. wrapper -->
		</section><!-- .contact -->
	</div><!-- .body -->
{{> footer}}
