{{> header}}
{{> banner}}
	<div class="body home">
		<div class="background-wrapper">
			<section class="intro">
				<p>CBTA is no longer taking new patients. If you were a patient prior to the closing of the psychotherapy practice, you can access your medical record <a href="/medical-records/">here</a>. </p>
			</section>
			<section id="our-services" class="services">
				<h2 class="section-title">Our Services</h2>
				<div class="service-wrapper">
					<ul class="services-menu tabs-menu">
						{{#each services}}
						<li class="{{#isEqual url-title "cbt"}}active{{/isEqual}}"><a href="#{{url-title}}">{{title}}</a></li>
						{{/each}}
					</ul><!-- .services-menu -->
					<div class="tabs-content">
						{{#each services}}
						<div class="service {{#isEqual url-title "cbt"}}active{{/isEqual}}" id="{{url-title}}">
						{{{main}}}
						<div class="button-wrap">
							{{#each buttons}}
							<a class="button" href="{{link}}">{{title}}</a>
							{{/each}}
						</div><!-- .button-wrap -->
						</div>
						{{/each}}
					</div>
				</div><!--.service-wrapper -->
			</section><!-- .services -->
		</div>
		<section id="our-therapists" class="therapists">
			<h1 class="section-title">About Dr. Vermilyea</h1>
			<div class="wrapper">
				<div class="therapist-stubs">
					{{#each therapists}}
					<div class="stub" data-therapist="{{id}}" title="{{title}}">
						<a href="#{{id}}">
							<img class="image" src="{{image}}" alt="{{title}}"/>
							<h3 class="title">{{title}}</h3>
						</a>
					</div><!-- .stub -->
					{{/each}}
				</div><!-- .therapist-stubs -->
				<div class="therapist-viewers">
					{{#each therapists}}
					<div class="viewer" id="{{id}}">
						<a class="close-button">x</a>
						<h1>{{full-title}}</h1>
						<div class="bio">
							<p>{{{nl2br bio}}}</p>
							{{#if licenses}}
							<ul class="licenses">
								{{#each licenses}}
								<li>{{this}}</li>
								{{/each}}
							</ul>
							{{/if}}
							{{#if phone}}
								<a class="tel" href="tel:{{phone}}" data-toggle="tooltip" title="{{phone}} {{#if ext}}ext. {{ext}}{{/if}}"><i class="fa fa-phone"></i>
									Call {{title}} {{#if ext}}(Ext {{ext}}){{/if}}
								</a>
							{{/if}}
							{{#if email}}
								<a class="email" href="mailto:{{email}}" data-toggle="tooltip" title="{{email}}"><i class="fa fa-envelope"></i>Email {{title}}</a>
							{{/if}}
						</div>
					</div><!-- .viewer -->
					{{/each}}
				</div><!-- .therapist-viewers -->
			</div><!-- .wrapper -->
		</section><!-- .therapists -->
		<section id="contact-us" class="contact">
			<div class="wrapper">
				<section id="location" class="info" id="location">
					<h1 class="section-title">Contact Us</h1>
					<p>{{{nl2br content.address}}}</p>
					<p>Phone: <a class="tel" href="tel:{{content.phone}}">{{parsePhone content.phone}}</a><br/>
				</section><!-- #location -->
			</div><!--. wrapper -->
		</section><!-- .contact -->
	</div><!-- .body -->
{{> footer}}
