{{> header}}
	<div class="body home">
		<section class="intro">
			<div class="wrapper">
				<h1>{{content.intro.heading}}</h1>
				<div class="intro-content">
					<p>{{content.intro.content}}</p>
					<a class="button" href="{{content.intro.button1.link}}">{{content.intro.button1.title}}</a>
					<a class="button" href="#">{{content.intro.button2.title}}</a>
				</div><!-- .intro-content -->
				<div class="intro-video"></div>
			</div><!-- .wrapper -->
		</section><!-- .intro -->
		<section class="therapists">
			<h1 class="section-title">Our Therapists</h1>
			<div class="wrapper">
				<div class="therapist-viewers">
					{{#each therapists}}
					<div class="viewer" id="{{id}}-viewer">
						<a class="close-button">x</a>
						<h1>{{full-title}}</h1>
						<div class="bio">{{{nl2br bio}}}</div>
					</div><!-- .viewer -->
					{{/each}}
				</div><!-- .therapist-viewers -->
				<div class="therapist-stubs">
					{{#each therapists}}
					<div class="stub" id="{{id}}-stub" data-therapist="{{id}}" title="{{title}}">
						<a href="#{{id}}">
							<img class="image" src="{{image}}" alt="{{title}}"/>
							<h3 class="title">{{title}}</h3>
						</a>
					</div><!-- .stub -->
					{{/each}}
				</div><!-- .therapist-stubs -->
			</div><!-- .wrapper -->
		</section><!-- .therapists -->
		<section class="therapies">
			<h1 class="section-title">What we treat</h1>
			<div class="wrapper">
				<p>Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
				<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.</p>
			</div>
		</section><!-- .therapies -->
		<section class="contact" id="contact-us">
			<h1 class="section-title">Contact Us</h1>
			<div class="wrapper">
				{{> contact}}
			</div>
		</section><!-- #contact-us -->
	</div><!-- .body -->
{{> footer}}
