{{> header}}
	<div class="treatments">
		<section id="anxiety" class="anxiety">
			<div class="wrapper">
				<h2 class="section-title">Anxiety</h2>
				<div class="menu-wrapper">
					<ul class="nav nav-tabs tabs-menu">
						{{#each anxiety}}
						<li class="{{#isEqual url-title "generalized-anxiety"}}active{{/isEqual}}">
							<a href="#{{url-title}}" data-toggle="tab">{{title}}</a>
						</li>
						{{/each}}
					</ul>
				</div><!-- .menu-wrapper -->
				<div class="tab-content well">
					{{#each anxiety}}
					<div class="tab-pane treatment fade {{#isEqual url-title "generalized-anxiety"}}in active{{/isEqual}}" id="{{url-title}}">
						{{{main}}}
					</div><!-- treatment -->
					{{/each}}
				</div><!-- .tabs-content -->
			</div><!-- .wrapper -->
		</section><!-- .anxiety -->
		<section id="depression" class="depression">
			<div class="title-wrapper">
				<h2 class="section-title">Depression</h2>
			</div>
			<div class="content wrapper well">
				{{{depression.main}}}
			</div>
		</section><!-- .depression -->
	</div>
{{> footer}}
