{{> header}}
	<div class="treatments">
		<section class="anxiety">
			<h2 class="section-title">Anxiety</h2>
			<ul class="treatment-menu tab-menu">
				{{#each anxiety}}
					<li><a href="#{{url-title}}">{{title}}</a>
				{{/each}}
			</ul>
			{{#each anxiety}}
				<div class="treatment" id="{{url-title}}">
					<h3>{{title}}</h3>
					{{{markdown}}}
				</div><!-- treatment -->
			{{/each}}
		</section><!-- .anxiety -->
		<section class="depression">
			<h2 class="section-title">Depression</h2>
			<div class="">
				{{{depression.markdown}}}
			</div>
		</section><!-- .depression -->
	</div>
{{> footer}}