{{> header}}
	<div class="treatments">
		<section id="anxiety" class="anxiety">
			<div class="wrapper">
				<h2 class="section-title">Anxiety</h2>
				<div class="menu-wrapper">
					<ul class="treatment-menu tabs-menu">
						{{#each anxiety}}
							<li class="{{#isEqual url-title "generalized-anxiety"}}active{{/isEqual}}">
								<div class="container">
								<a href="#{{url-title}}">{{title}}</a>
								</div>
							</li>
						{{/each}}
					</ul>
				</div><!-- .menu-wrapper -->
				<div class="tabs-content">
					{{#each anxiety}}
						<div class="treatment {{#isEqual url-title "generalized-anxiety"}}active{{/isEqual}}" id="{{url-title}}">
							{{{markdown}}}
						</div><!-- treatment -->
					{{/each}}
				</div><!-- .tabs-content -->
			</div><!-- .wrapper -->
		</section><!-- .anxiety -->
		<section id="depression" class="depression">
			<div class="title-wrapper">
				<h2 class="section-title">Depression</h2>
			</div>
			<div class="content-wrapper">
				{{{depression.markdown}}}
			</div>
		</section><!-- .depression -->
	</div>
{{> footer}}